sandbox
coverage
*.pl
*.pdf
templates
pdfjs-*
public
!demo/example*.pdf
node_modules/
package-lock.json
todo.org
\#*\#
*.tar.gz
*~
*.sqlite
*.log
*.db
*.old
.*
!.gitignore
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
